<div *ngIf="!isAdminUser()" class="container">

  <div class="agendamento">
    <div class="example-button-row">
      <button mat-stroked-button color="primary" (click)="redirectToAdd()">
        Agendar Nova Consulta
      </button>
    </div>
  </div>
  <mat-accordion class="example-headers-align" multi>
    @for (appointment of appointments; track appointment.specialty) {
    <mat-expansion-panel class="panel-spacing" >
      <mat-expansion-panel-header>
        <mat-panel-title>{{ appointment.specialty }}</mat-panel-title>
        <mat-panel-description>
          {{ appointment.doctor }} - {{ appointment.date }} -
          {{ appointment.time }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>
            Doutor: <br />
            {{ appointment.doctor }}
          </mat-card-title>
        </mat-card-header>
        <div class="image-container">
          <img
            mat-card-image
            src="https://img.freepik.com/vetores-gratis/ilustracao-de-consulta-medica-online_88138-414.jpg"
            alt="Foto genérica de consulta"
          />
        </div>
        <mat-card-content>
          <p>Data: {{ appointment.date }}</p>
          <p>Hora: {{ appointment.time }}</p>
          <p>Observação: {{ appointment.obs }}</p>
          <p>Status: {{ appointment.status }}</p>
        </mat-card-content>
        <mat-card-actions style="gap: 5px" class="d-flex justify-content-end">
          <button
            mat-raised-button
            color="primary"
            (click)="editAppointment(appointment.id!)"
          >
            Editar
          </button>
          <button
            mat-stroked-button
            color="warn"
            (click)="openDialog(appointment.id!)"
          >
            Excluir
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-expansion-panel>
    }
  </mat-accordion>
</div>

<div *ngIf="isAdminUser()" class="container">

  <table mat-table [dataSource]="appointmentsDataSource">

    <ng-container matColumnDef="specialty">
      <th mat-header-cell *matHeaderCellDef> Especialidade </th>
      <td mat-cell *matCellDef="let appointment"> {{appointment.specialty}} </td>
    </ng-container>

    <ng-container matColumnDef="doctor">
      <th mat-header-cell *matHeaderCellDef> Médico </th>
      <td mat-cell *matCellDef="let appointment"> {{appointment.doctor}} </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Data </th>
      <td mat-cell *matCellDef="let appointment"> {{appointment.date}} </td>
    </ng-container>

    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef> Hora </th>
      <td mat-cell *matCellDef="let appointment"> {{appointment.time}} </td>
    </ng-container>

    <ng-container matColumnDef="obs">
      <th mat-header-cell *matHeaderCellDef> Observação </th>
      <td mat-cell *matCellDef="let appointment"> {{appointment.obs}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let appointment"> {{appointment.status}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Ações </th>
      <td mat-cell *matCellDef="let appointment">
        <button mat-icon-button color="primary" (click)="setDoneAppointment(appointment.id!)">
          <mat-icon>done</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="setCancelAppointment(appointment.id!)">
          <mat-icon>cancel</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
