<section class="dashboard">
  <div class="agendamento">
    <div class="example-button-row">
      <button mat-flat-button color="accent" (click)="redirectToAdd()">
        Agendar Nova Consulta
      </button>
    </div>
  </div>

  <div class="d-flex align-items-center justify-content-center">
    <img src="../../../assets/logo.png" alt="Logo" class="m-4" />
  </div>

  <div class="container">
    <mat-accordion class="example-headers-align" multi>
      @for (appointment of appointments; track appointment.specialty) {
      <mat-expansion-panel class="panel-spacing">
        <mat-expansion-panel-header>
          <mat-panel-title>{{ appointment.specialty }}</mat-panel-title>
          <mat-panel-description>
            {{ appointment.doctor }} - {{ appointment.date }} -
            {{ appointment.time }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>
              Doutor: <br />
              {{ appointment.doctor }}
            </mat-card-title>
          </mat-card-header>
          <div class="image-container">
            <img
              mat-card-image
              src="https://img.freepik.com/vetores-gratis/ilustracao-de-consulta-medica-online_88138-414.jpg"
              alt="Foto genérica de consulta"
            />
          </div>
          <mat-card-content>
            <p>Especialidade: {{ appointment.specialty }}</p>
            <p>Data: {{ appointment.date }}</p>
            <p>Hora: {{ appointment.time }}</p>
            <p>Observação: {{ appointment.obs }}</p>
            <p>Status: {{ appointment.status }}</p>
          </mat-card-content>
          <mat-card-actions style="gap: 5px" class="d-flex justify-content-end">
            <button
              mat-raised-button
              color="primary"
              (click)="editProduct(appointment.id!)"
            >
              Editar
            </button>
            <button
              mat-stroked-button
              color="warn"
              (click)="openDialog(appointment.id!)"
            >
              Excluir
            </button>
          </mat-card-actions>
        </mat-card>
      </mat-expansion-panel>
      }
    </mat-accordion>
  </div>
</section>
