<mat-toolbar>

    <mat-toolbar-row>  
        <span>Consultas Médicas - ADA - Dashboard</span>
        <span class="spacer"></span>  <button class="me-5" mat-button 
    aria-label="Botão listar consulta" 
    routerLink="/appointments/main">
        Listar
    </button>

    <button mat-flat-button 
    aria-label="Botão logout" 
    color="primary" 
    (click)="authService.logout()">
        Logout
    </button>
</mat-toolbar-row>
<mat-toolbar-row>  
    <p class="user" > {{ authService.getLoggedUser()}} <p>
</mat-toolbar-row>
</mat-toolbar>