@if (!isAdminUser()){
<div class="container w-100">
  <section class="add">
    <h1 class="mt-5">Agendamento de Consultas</h1>
    <div class="d-flex align-items-center justify-content-center">
      <img src="../../../assets/logo.png" alt="Logo" class="m-4 " />
    </div>

    <div class="container  ">
      <form [formGroup]="form" (ngSubmit)="onSave()">
        <div class="row mb-3">
          <div class="col-12">
            <mat-form-field appearance="outline">
              <mat-label>Especialidade</mat-label>
              <mat-select formControlName="specialty">
                <mat-option value="Cardiologia">Cardiologia</mat-option>
                <mat-option value="Neurologia">Neurologia</mat-option>
                <mat-option value="Pediatria">Pediatria</mat-option>
                <mat-option value="Ginecologia">Ginecologia</mat-option>
                <mat-option value="Ortopedia">Ortopedia</mat-option>
                <mat-option value="Dermatologia">Dermatologia</mat-option>
                <mat-option value="Psiquiatria">Psiquiatria</mat-option>
                <mat-option value="Oftalmologia">Oftalmologia</mat-option>
                <mat-option value="Otorrinolaringologia"
                  >Otorrinolaringologia</mat-option
                >
                <mat-option value="Endocrinologia">Endocrinologia</mat-option>
              </mat-select>
              <mat-error>Uma especialidade precisa ser selecionado</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-12">
            <mat-form-field appearance="outline">
              <mat-label>Profissional</mat-label>
              <input matInput formControlName="doctor" />
              <mat-error>Selecione o profissional!</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-12">
            <mat-form-field appearance="outline">
              <mat-label>Data</mat-label>
              <input matInput formControlName="date" type="date" />
              <mat-error>Selecione a data!</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-12">
            <mat-form-field appearance="outline">
              <mat-label>Horário</mat-label>
              <input matInput formControlName="time" type="time" />
              <mat-error>Selecione o horário!</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-12">
            <mat-form-field appearance="outline">
              <mat-label>Observação</mat-label>
              <textarea matInput formControlName="obs"></textarea>
            </mat-form-field>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-12">
            <button mat-flat-button color="primary" [disabled]="form.invalid">
              Salvar
            </button>
          </div>
        </div>
      </form>
    </div>
  </section>
</div>
} @else{
<h1>Acesso Negado</h1>
}
