section{
  background: #b9d1ea
}

img{
  width: 350px;
  height: 250px;
  margin: 2rem;
  align-items: center;
  justify-content: center;
}

.register{
  cursor: pointer;
    color: blue !important;
}

.example-card {
  max-width: 600px; 
  margin: 0 auto;
  border-radius: 2rem;
}